<nav class="navbar custom-navbar">
  <div class="navbar-header">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img
        src="/assets/glider.svg"
        alt="Logo"
        style="height: 30px; margin-top: -5px"
      />
    </a>
  </div>

  <div
    class="collapse navbar-collapse d-flex align-items-center"
    id="bs-example-navbar-collapse-1"
  >
    <ul class="nav navbar-nav">
      <li class='{{- if eq .page "profile" -}}active{{- end -}}'>
        <a href="/">Profile</a>
      </li>
      <li class='{{- if eq .page "signup" -}}active{{- end -}}'>
        <a href="/signup">Signup</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/oauth2/sign_out">Logout</a></li>
    </ul>
  </div>
</nav>
