<!DOCTYPE html>
<html>
{{ template "head.html" . }}

<body>
  {{ template "navbar.html" . }}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="panel {{ if .user.First }}panel-success{{ else }}panel-warning{{ end }}">
          <div class="panel-heading">
            <h3 class="panel-title">Contact Information</h3>
          </div>
          <div class="panel-body">
            <form class="form" action="/profile/contact">
              <div class="form-group">
                <label for="first">First Name</label>
                <input type="text" id="first" name="first" value="{{ .user.First }}" placeholder="First Name"
                  class="form-control" />
              </div>
              <div class="form-group">
                <label for="first">Last Name</label>
                <input type="text" id="last" name="last" value="{{ .user.Last }}" placeholder="Last Name"
                  class="form-control" />
              </div>
              <input type="submit" value="Update" class="btn btn-default" />
            </form>
          </div>
        </div>

        <div class="panel {{ if .user.ActivePayment }}panel-success{{ else }}panel-warning{{ end }}">
          <div class="panel-heading">
            <h3 class="panel-title">Payment</h3>
          </div>
          <div class="panel-body">
            {{- if .user.ActivePayment }} {{- if .expiration }}
            <div class="alert alert-info" role="alert">
              Your subscription has been canceled. Membership will expire at
              {{ .expiration }}.
            </div>
            {{- else }}
            <div class="btn-group" role="group" aria-label="...">
              <a href="/profile/stripe" role="button" class="btn btn-default">Update Payment Info</a>
              <a href="/profile/cancel" role="button" class="btn btn-default">Cancel Membership</a>
            </div>
            {{- end }} {{- else }}
            {{- if .user.LastPaypalTransactionTime }}
            <div class="alert alert-info" role="alert">
              We found a Paypal payment associated with your email address from {{
              .user.LastPaypalTransactionTime.Format "01/02/2006" }}. Your account will be prorated accordingly when
              migrating your membership to this system.<br><br>
              After signing up, you can cancel your existing Paypal subscription using a link in your latest Paypal
              receipt
              email.<br><br>
              <a href="/profile/stripe?price=paypal" role="button" class="btn btn-default">
                Migrate Existing Membership</a>
            </div>
            {{- end }}
            <div class="btn-group" role="group" aria-label="...">
              {{- range .prices }}
              <a href="/profile/stripe?price={{ .ID }}" role="button" class="btn btn-default">{{ .ButtonText }}</a>
              {{- end }}
            </div>
            {{- end }}
          </div>
        </div>

        {{- if not .user.SignedWaiver }}
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Waiver</h3>
          </div>
          <div class="panel-body">
            <p>
              Everyone needs to sign a waiver before physically entering
              TheLab.
            </p>
            <a href="https://waiver.thelab.ms" role="button" target="_blank" class="btn btn-default">Sign Waiver</a>
          </div>
        </div>
        {{- end }}

        <div class="panel {{ if ne .user.FobID 0 }}panel-success{{ else }}panel-warning{{ end }}">
          <div class="panel-heading">
            <h3 class="panel-title">Key Fob</h3>
          </div>
          <div class="panel-body">
            <p>Members get 24 hour access to TheLab using RFID keyfobs.</p>
            {{- if not .user.BuildingAccessApproved }}
            <div class="alert alert-info" role="alert">
              New accounts need to be approved by TheLab leadership before building access is enabled.<br>
              Attend a Keyfob Pickup event and get to know us, pick up a new keyfob, and get your account activated!
            </div>
            {{- end }}
            <form class="form-inline" action="/profile/keyfob">
              <div class="form-group">
                <input type="text" name="fobid" value="{{- if ne .user.FobID 0 -}}{{ .user.FobID }}{{- end -}}"
                  class="form-control" />
              </div>
              <input type="submit" value="Update" class="btn btn-default" />
            </form>
          </div>
        </div>

        <div class="panel {{ if .user.DiscordLinked }}panel-success{{ else }}panel-warning{{ end }}">
          <div class="panel-heading">
            <h3 class="panel-title">Discord</h3>
          </div>
          <div class="panel-body">
            {{- if .user.DiscordLinked }}
            <p>
              A discord user has been linked to your account.
            </p>
            <a class="btn btn-default"
              href="https://keycloak.apps.thelab.ms/realms/master/account/#/security/linked-accounts">
              Modify
            </a>
            {{- else }}
            <p>
              Link a discord user to associate it with your account at TheLab.
            </p>
            <a class="btn btn-default"
              href="https://keycloak.apps.thelab.ms/realms/master/account/#/security/linked-accounts">
              Link
            </a>
            {{- end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>