<!doctype html>
<html>

{{ template "head.html" . }}

<body>
    {{ template "navbar.html" . }}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Payment</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Membership dues are processed by Stripe.
                        </p>
                        <a href="/profile/stripe" role="button" target="_blank" class="btn btn-default">Redirect to
                            Stripe</a>
                    </div>
                </div>

                <div class="panel {{ if .user.SignedWaiver }}panel-success{{ else }}panel-warning{{ end }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Waiver</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Everyone needs to sign a waiver before physically entering TheLab.
                        </p>
                        <a href="https://waiver.thelab.ms" role="button" target="_blank"
                            class="btn btn-default">Redirect to Waiver</a>
                    </div>
                </div>

                <div class="panel {{ if ne .user.FobID 0 }}panel-success{{ else }}panel-warning{{ end }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Key Fob</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Members get 24 hour access to TheLab using RFID keyfobs.
                        </p>
                        <p>
                            If you don't already have one, check the calendar for dates when you can come by and pick
                            one
                            up.
                            Once you have a fob, enter its ID below to associate it with your profile.
                        </p>
                        <form class="form-inline" action="/profile/keyfob">
                            <div class="form-group">
                                <input type="text" name="fobid"
                                    value="{{- if ne .user.FobID 0 -}}{{ .user.FobID }}{{- end -}}"
                                    class="form-control">
                            </div>
                            <input type="submit" value="Update" class="btn btn-default">
                        </form>
                    </div>
                </div>

                <div class="panel {{ if .user.First }}panel-success{{ else }}panel-warning{{ end }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Information</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form" action="/profile/contact">
                            <div class="form-group">
                                <fieldset disabled>
                                    <label for="email">Email Address</label>
                                    <input type="text" id="email" value="{{ .user.Email }}" class="form-control">
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <label for="first">First Name</label>
                                <input type="text" id="first" name="first" value="{{ .user.First }}"
                                    placeholder="First Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="first">Last Name</label>
                                <input type="text" id="last" name="last" value="{{ .user.Last }}"
                                    placeholder="Last Name" class="form-control">
                            </div>
                            <input type="submit" value="Update" class="btn btn-default">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>