<!DOCTYPE html>
<html>
{{ template "head.html" . }}

<body>
    {{ template "navbar.html" . }}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <p>
                    This page encrypts sensitive values like passwords such that they can be shared with other members
                    or leadership.
                    If no recipiant email is given the secret will be readable by leadership.
                </p>

                <br>

                <form action="/secrets/encrypt" method="post">
                    <label for="desc">Description:</label><br>
                    <input type="text" id="desc" name="desc" class="form-control" /><br><br>

                    <label for="value">Secret:</label><br>
                    <textarea id="value" name="value" rows="5" cols="40" class="form-control"></textarea><br>

                    <label for="email">Recipiant Email (optional):</label><br>
                    <input type="text" id="email" name="recip" class="form-control" /><br><br>

                    <input type="submit" value="Submit" class="btn btn-default">
                </form>
            </div>
        </div>
    </div>
</body>

</html>