<p>
    This page encrypts sensitive values like passwords such that they can be shared with other members or leadership.
    If no recipiant email is given the secret will be readable by leadership.
</p>

<br>

<form action="/secrets/encrypt" method="post">
    <label for="desc">Description:</label><br>
    <input type="text" id="desc" name="desc" /><br><br>

    <label for="value">Secret:</label><br>
    <textarea id="value" name="value" rows="5" cols="40"></textarea><br>

    <label for="email">Recipiant Email (optional):</label><br>
    <input type="text" id="email" name="recip" /><br><br>

    <input type="submit" value="Submit">
</form>