<!DOCTYPE html>
<html>
{{ template "head.html" . }}
<script>
    window.addEventListener('DOMContentLoaded', event => {
        document.getElementById('copy-md').addEventListener('click', () => {
            navigator.clipboard.writeText(document.getElementById('md').innerText)
        })

        document.getElementById('copy-url').addEventListener('click', () => {
            navigator.clipboard.writeText(document.getElementById('url').innerText)
        })
    })
</script>

<body>
    {{ template "navbar.html" . }}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">

                <p>
                    This URL contains an encrypted version of your secret.
                </p>
                <p>
                    It's safe to share online, etc.
                </p>

                <h4>As plain URL <a href="#" id="copy-url">(copy)</a>:</h4>
                <pre id="url">{{ .url }}</pre>

                <h4>As markdown link <a id="copy-md" href="#">(copy)</a>:</h4>
                <pre id="md">[{{ .desc }}]({{ .url }})</pre>
            </div>
        </div>
    </div>
</body>

</html>