<!doctype html>
<html>

{{ template "head.html" . }}

<body>
    {{ template "navbar.html" . }}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">

                <h1>Sign Up</h1>
                <p>
                    Create an account with TheLab by providing your email address below.
                    We'll send you a message with a link to set your password.
                </p>

                {{- if .success }}
                <div class="alert alert-success" role="alert">
                    Email sent!
                </div>
                {{- end }}

                {{- if .limitExceeded }}
                <div class="alert alert-warning" role="alert">
                    Signups are currently closed due to spam. Please contact TheLab leadership in Discord.
                </div>
                {{- end }}

                {{- if .conflict }}
                <div class="alert alert-warning" role="alert">
                    This email address is already associated with an account.
                </div>
                {{- end }}

                <form action="/signup/register">
                    <div class="form-group">
                        <input type="text" name="email" placeholder="email address" class="form-control">
                    </div>
                    <input type="submit" value="Create Account" class="btn btn-default">
                </form>
            </div>
        </div>
    </div>
</body>

</html>