<script async>
    async function populatePaymentDetails() {
        const resp = await fetch("/profile/paymentdetails")
        const obj = await resp.json()
        document.getElementById("periodEnd").innerText = `Paid through ${obj["PeriodEnd"]}.`
    }
    populatePaymentDetails()
</script>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Payment</h3>
    </div>


    <div class="panel-body">
        <div class="well">
            {{- if .user.ActivePayment }}
            <h4>Membership Status: <span class="label label-default">Active</span></h4>
            You're signed up to pay membership dues {{ if .Annual }}yearly{{ else }}monthly{{ end }}.
            <span id="periodEnd"></span>
            {{- else }}
            <h4>Membership Status: <span class="label label-default">Inactive</span></h4>
            Pick a payment schedule below to become a member.
            {{- end }}
        </div>

        {{- if .stripePending }}
        <div class="alert alert-warning" role="alert">
            Your recent subscription change has taken effect but isn't visible here yet - refresh the page after a few
            seconds to see it.
        </div>
        {{- end }}

        {{- if .user.ActivePayment }} {{- if .expiration }}
        <div class="alert alert-warning" role="alert">
            Your subscription has been canceled. Membership will expire at
            {{ .expiration }}.
        </div>
        {{- else }}
        <div class="btn-group" role="group" aria-label="...">
            <a href="/profile/stripe" role="button" class="btn btn-default">Update Payment Info</a>
            <a href="/profile/cancel" role="button" class="btn btn-default">Cancel Membership</a>
        </div>
        {{- end }} {{- else }}

        {{- if .migratedAccount }}
        <div class="alert alert-warning" role="alert">
            We found a Paypal payment associated with your email address from {{
            .user.LastPaypalTransactionTime.Format "01/02/2006" }}. Your account will be prorated accordingly when
            migrating your membership to this system.<br><br>
            Your existing Paypal subscription will automatically be canceled after migration.
            <br><br>
            <a href="/profile/stripe?price=paypal" role="button" class="btn btn-default">
                Migrate Existing Membership</a>
        </div>
        {{- end }}
        <div class="btn-group" role="group" aria-label="...">
            {{- range .prices }}
            <a href="/profile/stripe?price={{ .ID }}" role="button" class="btn btn-default">
                Subscribe {{ if .Annual }}yearly{{ else }}monthly{{ end }} at ${{ printf "%.2f" .Price }}
            </a>
            {{- end }}
        </div>

        {{- end }}
    </div>
</div>