<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Payment</h3>
    </div>

    <div class="panel-body">
        {{- if .migratedAccount }}
        <div class="alert alert-warning" role="alert">
            We found a Paypal payment associated with your email address from {{
            .user.LastPaypalTransactionTime.Format "01/02/2006" }}. Signing up here will cancel the Paypal subscription
            while preserving the same price and interval.
            <br><br>
            <a href="/profile/stripe?price=paypal" role="button" class="btn btn-default">
                Migrate Existing Membership</a>
        </div>

        {{- end }}
        <div class="well">
            {{- if .stripePending }}
            <h4>Membership Status: <span class="label label-default">Unknown</span></h4>
            Your recent subscription change has taken effect but isn't visible here yet - refresh the page after a few
            seconds to see it.
            {{- else if (and .user.ActiveMember .expiration) }}
            <h4>Membership Status: <span class="label label-default">Canceled</span></h4>
            Your subscription has been canceled. Membership will expire on {{ .expiration }}.
            {{- else if .user.ActiveMember }}
            <h4>Membership Status: <span class="label label-default">Active</span></h4>
            <span id="periodEnd"></span>
            {{- else }}
            <h4>Membership Status: <span class="label label-default">Inactive</span></h4>
            Pick a payment schedule below to become a member.
            {{- end }}
        </div>

        {{- if .user.ActiveMember }}
        <div class="btn-group" role="group" aria-label="...">
            <a href="/profile/stripe" role="button" class="btn btn-default">Manage Subscription With Stripe</a>
        </div>
        {{- else }}
        <div class="btn-group" role="group" aria-label="...">
            {{- range .prices }}
            <a href="/profile/stripe?price={{ .ID }}" role="button" class="btn btn-default">
                Subscribe {{ if .Annual }}yearly{{ else }}monthly{{ end }} at ${{ printf "%.2f" .Price }}
            </a>
            {{- end }}
        </div>
        {{- end }}
    </div>
</div>